h1, h4, button {
    font-family: Archivo;
    color: #FFF;
}

#conclusion-page {
    width: 100vw;
    height: 100vh;

    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#conclusion-page .conclusion-page-content .icon-container {
    position: relative;
    right: -195px;
    top: -50px;
    width: 90px;
    height: 90px;
    border: 6px solid var(--color-secundary);
    border-radius: 30px;
    text-align: center;
}

#conclusion-page .conclusion-page-content .icon-container i{
    position: absolute;
    left: 16px;
    top: 10px;
    color: var(--color-secundary);
    font-weight: bold;
    font-size: 50px;
}

#conclusion-page .conclusion-page-content hgroup {
    display: block;
}

#conclusion-page .conclusion-page-content hgroup h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 42px;
    margin-bottom: 3rem;
}

#conclusion-page .conclusion-page-content hgroup h4 {
    font-family: Poppins;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-text-in-primary);
    text-align: center;
}

#conclusion-page .conclusion-page-content button {
    display: block;
    position: relative;
    width: 200px;
    height: 56px;
    background-color: var(--color-secundary);
    color: #FFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    bottom: -70px;
    right: -150px
}