div.warn-message {
    width: 100%;
    margin-top: 5px;
    padding: 6px 16px;

    background-color: rgba(255, 0, 0, 0.7);
    border-radius: 12px;

    display: flex;
    align-items: center;
    gap: 10px;

    position: relative;
}

div.warn-message::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 47%;

    border-width: 14px;
    border-style: solid;
    border-color: transparent  transparent rgba(255, 0, 0, 0.7) transparent;

    z-index: 10;
}

div.warn-message p {
    max-width: 230px;
    color: #FFF;
    word-wrap: break-word;
    
}