#home-page-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

#home-page-container .home-page-upper-content {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
}

#home-page-container .home-page-upper-content .upper-container,
#home-page-container .home-page-lesser-content .lesser-container {
    width: 80%;
}

#home-page-container .home-page-upper-content .upper-container .user-container .user-content {
    display: flex;
    align-items: center;
}

#home-page-container .home-page-upper-content .upper-container .user-container .user-content .user-icon {
    width: 50px;
    height: 50px;
    border: 0 solid transparent;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
}

#home-page-container .home-page-upper-content .upper-container .user-container .user-content .user-icon + a {
    color: #FFF;
    text-decoration-line: none;
    margin-left: 13px;
}

#home-page-container .home-page-upper-content .upper-container .user-container .user-content .user-icon + a:hover {
    text-decoration-line: underline;
}

#home-page-container .home-page-upper-content .upper-container .user-container .user-content .user-icon img {
    width: 50px;
    height: 50px;
}

#home-page-container .home-page-upper-content .upper-container .user-container .user-content h4 {
    margin-left: 14px;
}

#home-page-container .home-page-upper-content .upper-container .user-container .logoff-container button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    background-color: var(--color-primary-dark);
    color: #fff;
    border: none;
    outline: none;
}

#home-page-container .home-page-upper-content .upper-container .user-container .logoff-container button:hover {
    background-color: var(--color-primary-light);
}

#home-page-container .home-page-upper-content .upper-container .user-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

#home-page-container .home-page-upper-content .upper-container .logo-proffy-container {
    display: flex;
    justify-content: space-between;
}

#home-page-container .home-page-upper-content .upper-container .logo-proffy-container .logo-proffy-content {
    margin-top: 12rem;
}

#home-page-container .home-page-upper-content .upper-container .logo-proffy-container .logo-proffy-content h2 {
    font-weight: normal;
    font-size: 30px;
    color: var(--color-text-in-primary);
}

#home-page-container .home-page-lesser-content {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
}

#home-page-container .home-page-lesser-content .lesser-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home-page-container .home-page-lesser-content .lesser-container h4 {
    font-weight: normal;
    line-height: 20px;
    font-size: 17px;
    color: var(--color-text-base);
}

#home-page-container .home-page-lesser-content .lesser-container .total-connections-container p {
    text-align: right;
    color: var(--color-text-complement);

    position: relative;
    left: 70px;
}

#home-page-container .home-page-lesser-content .lesser-container .total-connections-container p>img {
    opacity: 0.7;
}

#home-page-container .home-page-lesser-content .lesser-container .button-group-container {
    display: flex;
}

#home-page-container .home-page-lesser-content .lesser-container .button-group-container a {
    width: 250px;
    height: 80px;
    border: thin solid transparent;
    border-radius: 10px;
    color: white;

    text-decoration-line: none;

    font-weight: 700;
    font-size: 17px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

#home-page-container .home-page-lesser-content .lesser-container .button-group-container a img {
    width: 30px;
    margin-right: 13px;
}

#home-page-container .home-page-lesser-content .lesser-container .button-group-container a:first-child {
    background-color: var(--color-primary);
    margin-right: 15px;

}

#home-page-container .home-page-lesser-content .lesser-container .button-group-container a:first-child:hover {
    background-color: var(--color-primary-light);
}

#home-page-container .home-page-lesser-content .lesser-container .button-group-container a:last-child {
    background-color: var(--color-secundary);
}

#home-page-container .home-page-lesser-content .lesser-container .button-group-container a:last-child:hover {
    background-color: var(--color-secundary-light);
}

@media screen and (max-width: 1250px) {

    #home-page-container .home-page-lesser-content .lesser-container .total-connections-container p {
        position: unset;
    }
}

@media screen and (max-width: 900px) {

    #home-page-container .home-page-lesser-content .lesser-container {
        display: block;
        position: relative;
    }

    #home-page-container .home-page-lesser-content .lesser-container h4 {
        margin: 30px 0;
    }

    #home-page-container .home-page-lesser-content .lesser-container .total-connections-container p {
        position: absolute;        
        left: 360px;
        top: 30px;
    }

}